body{
    background-color: #c7ecee;
}
.main{
background-color: #c7ecee;
left: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #95afc0;
    position: fixed;
    top: 0;
    /* left: 0; */
    /* right: 0; */
    z-index: 2;
}
.selectRegion{
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;


}
.searchCountrie{
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    
}
.countries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-end; */
    background-color: #c7ecee;
    position: absolute;
    top: 70px;
    /* left: 0; */
}
.countrieMargin{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
}
.countrie{
    background-color: #95afc0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* color: white; */
    margin-bottom: 50px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: sans-serif;
}
.countrie:hover{
    background-color: lightslategrey;
    color: white;
    font-weight: bolder;
}
.countrieName{
    text-align: center;
    font-family: sans-serif;
}
.flag{
    /* height: 50px;
    width: 100px; */
}
.countrieDetails{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.borders{
    list-style-type: none;
}
.homeIcon{
    height: 50px;
}