body{
    background-color: #dff9fb;
    color: #130f40;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #dff9fb;
    position: fixed;
    top: 0;
    z-index: 2;
}

.selectRegion{
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;


}

.searchCountrie{
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    
}

.countries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #dff9fb;
    position: absolute;
    top: 70px;
}

.countrieMargin{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.countrie{
    background-color: #95afc0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 2px;
}

.countrie:hover{
    background-color: lightslategrey;
    /* color: white; */
    font-weight: bolder;
}

.countrieName{
    text-align: center;
    font-family: sans-serif;
}

.countrieDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.borders{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.neighbor{
    background-color: lightgray;
    border: 0.7px solid gray;
    border-radius: 3px;
    padding: 5px;
}

.homeIcon{
    height: 50px;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* .borderLink{
    text-decoration: none;
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 3px;
} */

.sunFormat{
    color: #f6e58d;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.moonFormat{
    color: #535c68;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;    
}

.mode{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.homeIcon{
    color: #535c68;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px; 
    text-decoration: none;

}
/* *{
    border: 1px solid red;
} */